.wrap{
    width: 200px;
}
.wrap> div{ float: left;}
.b:active{background-color: red;}
.wrap .b{
    width: 50px; 
    height: 50px;
    background-color: #000000;

}
.wrap .w{
    width: 50px;
    height: 50px;
    background-color: #999999;    
}